.banner-wrapper {
    background-color: var(--banner-background);
    height: 100%;

}

.banner-heading {
    font-size: 2rem;
    color: var(--h1_typography-color);
    line-height: 1.5;
}

.banner-para {
    margin-top: .875rem;
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.6;
}

.banner-btn {
    display: inline-block;
    margin-top: .875rem;
    padding: 13px 29px;
    font-size: .975rem;
    color: #ffff;
    background-color: var(--primary-color);
    border-radius: .875rem;
}



.banner-first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem !important;
    /* border: 1px solid red; */

}

.banner-sec-child {
    height: 100%;
}

.banner-sec-child img {
    height: 100%;
    width: 100%;
}

.banner-first-child-inside {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end !important;

}

.recent-heading {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.recent-heading:before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 50%;
    border-bottom: 4px solid var(--primary-color);
}

.testimonial-heading {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.testimonial-heading:before {
    content: "";
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 60%;
    border-bottom: 4px solid var(--primary-color);
}

.carousel_parent {
    /* background-color: aqua; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.carousel_parent {
    padding: 20px;
}

.about_acordion {
    margin-top: 20px;
}

.faqs-heading {
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.home_Wrapper {
    position: relative;
}

.popup {
    position: absolute;
    top: 2%;
    left: 30%;
    background-color: antiquewhite;

}

.check {
    background-color: transparent;
    opacity: 10;

}