/* .indv_blog_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */

.blog_heading {
    margin-top: 10px;
    font-weight: 500;


}

.blog_ans {
    margin-top: 10px;
}

.blogs_parent:last-child {
    margin-bottom: 20px;

}