.nav-wrapper {
    background-color: var(--header_sticky_bg_color);
    border-radius: .575rem;

}

.nav-courses {
    transition-delay: .5s;

}

.sub_course {
    position: absolute;
    top: 60px;
    right: 30%;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width: 150px;
    background: #ffff;
    transition: ease-in-out;
    transition: ease-in-out;
    /* border-radius: .575rem; */


}

.sub_course .courses {
    border-bottom: 1px solid gray;
    padding-top: .275rem;
}

.courses:last-child {
    border-bottom: none;
    margin-bottom: 0rem;

}

.courses:first-child {
    border-top: 4px solid var(--primary-color);
    padding-top: .275rem;
}

.courses {
    padding-left: .575rem;

}

.courses:hover {
    background-color: var(--primary-color);
    width: 100%;
    color: var(--header_sticky_bg_color);
    font-weight: 500;
}

/* .right_side_nav {
    
} */

.right_side_nav:last-child {
    padding-right: 1rem;
}